#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: var(--el-text-color-primary);
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    min-height: 600px;
    background-color: var(--el-fill-color-blank);
}

html[data-theme=dark] body {
    background-color: var(--el-fill-color-dark);
}

/* Fix message-box buttons */
.el-message-box__btns {
    gap: 12px;
}
